body {
    font-family: sans-serif;
    background-color: #fafafa;
    margin: auto;
}

.navbar {
    background-color: #23373b;
    border-radius: 2px;
}

.navbar a {
    color: #aaa;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
}

a.img-link {
    text-decoration: none;
}

p {
    margin-left: 40px;
    margin-right: 40px;
}

ul {
    margin-left: 40px;
    margin-right: 40px;
}

h1 {
    margin-left: 20px;
}

h2 {
    margin-left: 20px;
}

h3 {
    margin-left: 20px;
}

h4 {
    margin-left: 20px;
}

h5 {
    margin-left: 20px;
}

strong.alert {
    color: darkorange;
}

img.logo {
    height: 40px;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 75%;
}

footer {
    background-color: #23373b;
    border-radius: 2px;
    color: white;
    border-radius: 2px;
    padding: 10px 20px;
}

footer p {
    margin-left: 0;
}

/*-------- publications ----------*/

.publications table {
    margin-left: 40px;
    padding: 20px;
    width: 85%;
}

td.bibtexnumber {
    display: list-item;
    list-style-type: "\1F4DC   ";
    list-style-position: inside;
}

td.bibtexitem b {
    text-decoration: solid underline;
}
