
<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
<a name="lermusiaux24:ercim-news">&nbsp;</a>
</td>
<td class="bibtexitem">
Pierre Lermusiaux and Benoît Montagu.
 <b>The Salto Project: Static Analysis of OCaml Programs By Abstract
  Interpretation</b>.
 <em>ERCIM News</em>, Special Theme: Software Security(139), oct 2024.
[&nbsp;<a href="https://ercim-news.ercim.eu/en139/special/the-salto-project-static-analysis-of-ocaml-programs-by-abstract-interpretation">At publisher's</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
<a name="Lermusiaux2024">&nbsp;</a>
</td>
<td class="bibtexitem">
Pierre Lermusiaux and Benoît Montagu.
 <b>Detection of Uncaught Exceptions in Functional Programs by
  Abstract Interpretation</b>, pages 391--420.
 Springer Nature Switzerland, 2024.
 European Symposium On Programming (ESOP'24).
[&nbsp;<a href="http://dx.doi.org/10.1007/978-3-031-57267-8_15">DOI</a>&nbsp;| 
<a href="https://hal.inria.fr/hal-04410771">Extended version</a>&nbsp;| 
<a href="https://zenodo.org/doi/10.5281/zenodo.10457925">Artifact</a>&nbsp;]

</td>
</tr>
</table>