<footer>
  <p>
    <a class="img-link" href="https://www.inria.fr/">
      <img class="logo" alt="logo Inria" src="../img/logo_inria.png">
    </a>
    &emsp;
    <a class="img-link" href="https://www.ocaml.org/">
      <img class="logo" alt="logo OCaml" src="../img/ocaml-light.png">
    </a>
    &emsp;
    <a class="img-link" href="https://www.ocaml-sf.org/">
      <img class="logo" alt="logo OCaml Software Foundation" src="../img/ocsf_logo_light.svg">
    </a>
  </p>
  <div w3-include-html="../date.html"></div>
</footer>
