<div class="navbar">
  <a href="../index.html">Home</a>
  <a href="https://gitlab.inria.fr/salto/">Repository</a>
  <a href="../publications/index.html">Publications</a>
  <a href="../talks/index.html">Talks</a>
</div>
